<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386458988687-274no6rd50u3dgrb0n0pfq9n5it7m8kh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386458988687-274no6rd50u3dgrb0n0pfq9n5it7m8kh</string>
	<key>API_KEY</key>
	<string>AIzaSyCfdmzhYAdrFl9WM35N42kjtDP38ewyank</string>
	<key>GCM_SENDER_ID</key>
	<string>386458988687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yellowmuscu</string>
	<key>PROJECT_ID</key>
	<string>yellowmuscu</string>
	<key>STORAGE_BUCKET</key>
	<string>yellowmuscu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386458988687:ios:91979dc8ac12efea79c0fa</string>
	<key>DATABASE_URL</key>
	<string>https://yellowmuscu-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>